// Cores Padrões
$white: #fefbf5;
$black: #000000;
$yellow: #fbcd62;
$red: #FF5E5B;

// Cores Claras
$light-blue: #006992;

// Cores Escuras
$dark-white: #d6d6d6;
$dark-green: #0A8754;
$dark-blue: #202c34;
